<section class='breadcrumbs-filter container'>
  <div class='breadcrumbs'>
    <a class='js-breadcrumbs-title-link' href='#'>
      <h2 class='title'>Exercises</h2>
    </a>
    <a class='js-breadcrumbs-subtitle-link hidden' id='breadcrumbs' href='#'>
      <h3 class='subtitle'>Waist</h3>
    </a>
  </div>
  <div class='filter'>
    <form class='js-search-form search-form' action='submit'>
      <input class='filter-search' type='text' placeholder='Search'>
      <button class='filter-clear-btn' type='button'>
        <svg class='filter-clear-icon' width='18' height='18'>
          <use href='./img/icons.svg#icon-close-x'></use>
        </svg>
      </button>
      <button class='js-search-submit-btn filter-search-btn' type='button'>
        <svg class='filter-search-icon' width='18' height='18'>
          <use href='./img/icons.svg#icon-search'></use>
        </svg>
      </button>
    </form>
    <ul class='filter-list'>
      <li class='exercises-item active'>Muscles</li>
      <li class='exercises-item'>Body parts</li>
      <li class='exercises-item'>Equipment</li>
    </ul>
  </div>
</section>
