<section class="exercises">
  <div class="container">
    <div class="exs-title-container">
      <ul class="exercises-filter">

      </ul>
    </div>
    <div class="cards-quote-container">
      <div class="cards-container">
        <ul class="exercises-cards-list">
        </ul>
        <ul class="exs-pagination">

        </ul>
      </div>
      <div class="quote-block">
        <div class="quote-container">
          <div class="quote">
            <div class="icon-container-running-men">
              <svg class="icon-running-men" width="20" height="20">
                <use href="./img/icons.svg#icon-running-stick-figure-svgrepo-com-1"></use>
              </svg>
            </div>
            <h2 class="quote-title">Quote of the day</h2>
            <svg class="icon-quote" width="20" height="20">
              <use href="./img/icons.svg#icon-inverted-commas"></use>

            </svg>
            <p class="quote-text"></p>
            <p class="quote-author"></p>
          </div>
          <div class="quote-block-image">
            <img src="./img/quote-Image.jpg" alt="quote-block-image">
          </div>
        </div>

        <div class="news-block">
          <div class="icon-container-fluent-food">
            <svg class="icon-fluent-food" width="20" height="20">
              <use href="./img/icons.svg#icon-fluent_food-24-filled"></use>
            </svg>
          </div>
          <h2 class="news-label">110 min</h2>
          <p class="news-description">Daily norm of sports</p>
          <p class="news-text">The World Health Organization recommends at least 150 minutes of
            moderate-intensity
            aerobic physical activity throughout the week for adults aged 18-64. However, what happens if we
            adjust that number to 110 minutes every day? While it might seem like a high number to hit,
            dedicating 110 minutes daily to sporting activities may offer unparalleled benefits to physical
            health, mental well-being, and overall quality of life.</p>
        </div>
      </div>
    </div>
  </div>
</section>