<section class="favorites">
  <div class="container">
    <h1 class="favorites-title">Favorites</h1>
    <div class="favorites-wrapper">
      <div class="cards-quote-container favor">
        <div class="quote-block favor">
          <div class="quote-container favor">
            <div class="quote favor">
              <div class="icon-container-running-men">
                <svg class="icon-running-men" width="20" height="20">
                  <use
                    href="./img/icons.svg#icon-running-stick-figure-svgrepo-com-1"
                  ></use>
                </svg>
              </div>
              <h2 class="quote-title">Quote of the day</h2>
              <svg class="icon-quote" width="20" height="20">
                <use href="./img/icons.svg#icon-inverted-commas"></use>
              </svg>
              <p class='quote-text'><span class='content-placeholder' style='width:150px;'>&nbsp;</span></p>
              <p class='quote-author'><span class='content-placeholder' style='width:50px;'>&nbsp;</span></p>
            </div>
            <div class="favor-block-desktop">
              <div class="news-block favor">
                <svg class="icon-fluent-food favor" width="20" height="20">
                  <use href="./img/icons.svg#icon-fluent_food-24-filled"></use>
                </svg>

                <h2 class="news-label favor">110 min</h2>
                <p class="news-description favor">Daily norm of sports</p>
              </div>
              <div class="quote-block-image favor">
                <img
                  src="./img/women-sportswear-working-out-outdoor.jpg"
                  alt="quote-block-image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fav-list-wrapper">
        <ul class="fav-list fav-list-mob exercises-cards-list">
          <li class='exercise' >
            <button class='main-action-btn card__btn' type='button'>
              <span class='content-placeholder' style='width:61px;'>&nbsp;</span>
              <svg class='main-action-arrow-icon' width='16' height='16'>
                <use href='/img/icons.svg#icon-arrow-right'></use>
              </svg>
            </button>
            <div class='top'>
              <span class='badge'>Workout</span>

              <div class='rating'>
                <span class='rating-value'><span class='content-placeholder' style='width:18px;'>&nbsp;</span></span>
                <svg class='rating-icon' width='18' height='18'>
                  <use href='/img/icons.svg#icon-star'></use>
                </svg>
              </div>
            </div>
            <div class='title'>
              <svg class='title-icon' width='14' height='16'>
                <use href='/img/icons.svg#icon-running-stick-figure-svgrepo-com-1'></use>
              </svg>
              <span class='title-text text-clipped content-placeholder' style='width:100%;'>&nbsp;</span>
            </div>
            <div class='details'>
              <div class='detail'>
                <span class='detail-title'>Burned calories:</span>
                <span class='detail-value text-clipped'><span class='content-placeholder' style='width:50px;'>&nbsp;</span></span>
              </div>
              <div class='detail'>
                <span class='detail-title'>Body part:</span>
                <span class='detail-value text-clipped'><span class='content-placeholder' style='width:50px;'>&nbsp;</span></span>
              </div>
              <div class='detail'>
                <span class='detail-title'>Target:</span>
                <span class='detail-value text-clipped'><span class='content-placeholder' style='width:50px;'>&nbsp;</span></span>
              </div>
            </div>
          </li>
          <li class='exercise' >
            <button class='main-action-btn card__btn' type='button'>
              <span class='content-placeholder' style='width:61px;'>&nbsp;</span>
              <svg class='main-action-arrow-icon' width='16' height='16'>
                <use href='/img/icons.svg#icon-arrow-right'></use>
              </svg>
            </button>
            <div class='top'>
              <span class='badge'>Workout</span>

              <div class='rating'>
                <span class='rating-value'><span class='content-placeholder' style='width:18px;'>&nbsp;</span></span>
                <svg class='rating-icon' width='18' height='18'>
                  <use href='/img/icons.svg#icon-star'></use>
                </svg>
              </div>
            </div>
            <div class='title'>
              <svg class='title-icon' width='14' height='16'>
                <use href='/img/icons.svg#icon-running-stick-figure-svgrepo-com-1'></use>
              </svg>
              <span class='title-text text-clipped content-placeholder' style='width:100%;'>&nbsp;</span>
            </div>
            <div class='details'>
              <div class='detail'>
                <span class='detail-title'>Burned calories:</span>
                <span class='detail-value text-clipped'><span class='content-placeholder' style='width:50px;'>&nbsp;</span></span>
              </div>
              <div class='detail'>
                <span class='detail-title'>Body part:</span>
                <span class='detail-value text-clipped'><span class='content-placeholder' style='width:50px;'>&nbsp;</span></span>
              </div>
              <div class='detail'>
                <span class='detail-title'>Target:</span>
                <span class='detail-value text-clipped'><span class='content-placeholder' style='width:50px;'>&nbsp;</span></span>
              </div>
            </div>
          </li>
          <li class='exercise' >
            <button class='main-action-btn card__btn' type='button'>
              <span class='content-placeholder' style='width:61px;'>&nbsp;</span>
              <svg class='main-action-arrow-icon' width='16' height='16'>
                <use href='/img/icons.svg#icon-arrow-right'></use>
              </svg>
            </button>
            <div class='top'>
              <span class='badge'>Workout</span>

              <div class='rating'>
                <span class='rating-value'><span class='content-placeholder' style='width:18px;'>&nbsp;</span></span>
                <svg class='rating-icon' width='18' height='18'>
                  <use href='/img/icons.svg#icon-star'></use>
                </svg>
              </div>
            </div>
            <div class='title'>
              <svg class='title-icon' width='14' height='16'>
                <use href='/img/icons.svg#icon-running-stick-figure-svgrepo-com-1'></use>
              </svg>
              <span class='title-text text-clipped content-placeholder' style='width:100%;'>&nbsp;</span>
            </div>
            <div class='details'>
              <div class='detail'>
                <span class='detail-title'>Burned calories:</span>
                <span class='detail-value text-clipped'><span class='content-placeholder' style='width:50px;'>&nbsp;</span></span>
              </div>
              <div class='detail'>
                <span class='detail-title'>Body part:</span>
                <span class='detail-value text-clipped'><span class='content-placeholder' style='width:50px;'>&nbsp;</span></span>
              </div>
              <div class='detail'>
                <span class='detail-title'>Target:</span>
                <span class='detail-value text-clipped'><span class='content-placeholder' style='width:50px;'>&nbsp;</span></span>
              </div>
            </div>
          </li>
          <li class='exercise' >
            <button class='main-action-btn card__btn' type='button'>
              <span class='content-placeholder' style='width:61px;'>&nbsp;</span>
              <svg class='main-action-arrow-icon' width='16' height='16'>
                <use href='/img/icons.svg#icon-arrow-right'></use>
              </svg>
            </button>
            <div class='top'>
              <span class='badge'>Workout</span>

              <div class='rating'>
                <span class='rating-value'><span class='content-placeholder' style='width:18px;'>&nbsp;</span></span>
                <svg class='rating-icon' width='18' height='18'>
                  <use href='/img/icons.svg#icon-star'></use>
                </svg>
              </div>
            </div>
            <div class='title'>
              <svg class='title-icon' width='14' height='16'>
                <use href='/img/icons.svg#icon-running-stick-figure-svgrepo-com-1'></use>
              </svg>
              <span class='title-text text-clipped content-placeholder' style='width:100%;'>&nbsp;</span>
            </div>
            <div class='details'>
              <div class='detail'>
                <span class='detail-title'>Burned calories:</span>
                <span class='detail-value text-clipped'><span class='content-placeholder' style='width:50px;'>&nbsp;</span></span>
              </div>
              <div class='detail'>
                <span class='detail-title'>Body part:</span>
                <span class='detail-value text-clipped'><span class='content-placeholder' style='width:50px;'>&nbsp;</span></span>
              </div>
              <div class='detail'>
                <span class='detail-title'>Target:</span>
                <span class='detail-value text-clipped'><span class='content-placeholder' style='width:50px;'>&nbsp;</span></span>
              </div>
            </div>
          </li>
        </ul>
        <p class="fav-no-cards">
          It appears that you haven't added any exercises to your favorites yet.
          To get started, you can add exercises that you like to your favorites
          for easier access in the future.
        </p>
      </div>
    </div>
  </div>
  <ul class="exs-pagination"></ul>
</section>
