<div class="footer">
    <div class="footer-container container">
        <div class="nav-footer-container">
            <div class="nav-footer-wrapper">
                <a class="footer-logo" href="./index.html" aria-label="footer-logo">
                    <svg class="footer-logo-img" width="132" height="24">
                        <use href="/img/icons.svg#icon-logo"></use>
                    </svg>
                </a>
                <ul class="social-list">
                    <li class="social-list-item">
                        <a class="social-list-link" target="_blank" href="https://www.facebook.com/goITclub/"
                            aria-label="facebook" rel="noreferrer noopener nofollow">
                            <svg class="social-list-icon" width="28" height="28">
                                <use href="/img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" target="_blank" href="https://www.instagram.com/goitclub/"
                            aria-label="instagram" rel="noreferrer noopener nofollow">
                            <svg class="social-list-icon" width="28" height="28">
                                <use href="/img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" target="_blank" href="https://www.youtube.com/c/GoIT"
                            aria-label="youtube" rel="noreferrer noopener nofollow">
                            <svg class="social-list-icon" width="28" height="28">
                                <use href="/img/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <h4 class="footer-headline">
                Transforming your <span class="text-italic">body</span> shape with us
            </h4>
        </div>
        <div class="form-wrapper">
            <p class="subscribe-description">Subscribe and learn about new exercises!</p>

            <form class="subscribe-form">
                <input class="subscribe-input" placeholder="Email" aria-label="email-input" required type="email" />
                <button type="submit" class="submit-btn">Send</button>
            </form>
        </div>
        <div class="tnc-container">
            <ul class="tnc-list">
                <li>
                    <p class="privacy-text">Your Energy. All rights reserved.</p>
                </li>
                <li>
                    <a href="./tnc.html" class="footer-tnc link privacy-text">
                        Privacy Policy / Terms of Service
                    </a>
                </li>
            </ul>
            <p class="privacy-text text-date">&copy;2023</p>
        </div>
    </div>
</div>
