<section id="hero" class="hero">
  <div class="container">
    <div class="hero-wrap">
      <div class="hero-head">
        <h1 class="hero-header">
          <svg class="hero-icon" width="38" height="38">
            <use href="./img/icons.svg#icon-sun"></use>
          </svg>
          <span class="hero-header-span"
            >Get <span class="hero-body">Body</span> in</span
          ><br />
          shape, Stay healthy
        </h1>
        <p class="hero-text">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <div class="hero-hashtag">
        <img
          src="./img/hero/img-legs-desk-1x.jpg"
          srcset="
            ./img/hero/img-legs-desk-1x.jpg 1x,
            ./img/hero/img-legs-desk-2x.jpg 2x
          "
          alt="women legs"
          class="hero-hashtag-img"
        />
        <ul class="hero-hashtag-list">
          <li class="hero-hashtag-item">
            <div class="hero-hashtag-wrap">#Sport</div>
          </li>
          <li class="hero-hashtag-item">
            <div class="hero-hashtag-wrap">#Healthy</div>
          </li>
          <li class="hero-hashtag-item">
            <div class="hero-hashtag-wrap">#Workout</div>
          </li>
          <li class="hero-hashtag-item">
            <div class="hero-hashtag-wrap">#Diet</div>
          </li>
        </ul>
      </div>

      <div class="hero-img-wrap">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/hero/hero-desk-1x.jpg 1x,
              ./img/hero/hero-desk-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero/hero-tab-1x.jpg 1x,
              ./img/hero/hero-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero/hero-mob-1x.jpg 1x,
              ./img/hero/hero-mob-2x.jpg 2x
            "
          />

          <img
            src="./img/hero/hero-mob-1x.jpg "
            srcset="
              ./img/hero/hero-mob-1x.jpg 1x,
              ./img/hero/hero-mob-2x.jpg 2x
            "
            alt="women stretch together"
            class="hero-main-img"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
