<div class="overlay exercises-popup visually-hidden" id="exercises-popup">
  <div class="exercises-modal">
    <div class="exercises-modal-left">
      <img class="exercises-modal-image"
      src="../../img/gif-min.png" 
      alt="exercise for body-part"  />
    </div>

    <div class="exercises-modal-right">
      <button class="exercises-modal-close">
        <svg
          class="exercises-modal-close-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 32 32"
          fill="none"
        >
          <path
            d="M22.667 9.333 9.334 22.666M9.333 9.333l13.333 13.333"
            stroke-width="2.667"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>

      <h3 class="exercises-modal-title">Air Bake</h3>

      <div class="exercises-modal-rating-container">
        <span class="exercises-modal-rating-value">4.0</span>
        <fieldset class="exercises-modal-rating">
          <input
            class="exercises-modal-rating-input"
            type="ratio"
            id="star1"
            name="rating"
          />
          <label class="exercises-modal-rating-label" for="star1" data-rate="1">
            <svg
              class="exercises-rating-star"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M13.826 3.262c.684-2.106 3.663-2.106 4.348 0l1.932 5.945a2.285 2.285 0 0 0 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674a2.286 2.286 0 0 0-.83 2.556l1.931 5.945c.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674a2.286 2.286 0 0 0-2.687 0l-5.057 3.674c-1.791 1.302-4.202-.45-3.517-2.555l1.932-5.945a2.287 2.287 0 0 0-.83-2.556l-5.057-3.674c-1.791-1.302-.871-4.135 1.344-4.135h6.251c.99 0 1.868-.638 2.174-1.579l1.932-5.945z"
                fill="#F4F4F4"
                fill-opacity="0.2"
              />
            </svg>
          </label>
          <input
            class="exercises-modal-rating-input"
            type="ratio"
            id="star2"
            name="rating"
          />
          <label class="exercises-modal-rating-label" for="star2" data-rate="2">
            <svg
              class="exercises-rating-star"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M13.826 3.262c.684-2.106 3.663-2.106 4.348 0l1.932 5.945a2.285 2.285 0 0 0 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674a2.286 2.286 0 0 0-.83 2.556l1.931 5.945c.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674a2.286 2.286 0 0 0-2.687 0l-5.057 3.674c-1.791 1.302-4.202-.45-3.517-2.555l1.932-5.945a2.287 2.287 0 0 0-.83-2.556l-5.057-3.674c-1.791-1.302-.871-4.135 1.344-4.135h6.251c.99 0 1.868-.638 2.174-1.579l1.932-5.945z"
                fill="#F4F4F4"
                fill-opacity="0.2"
              />
            </svg>
          </label>
          <input
            class="exercises-modal-rating-input"
            type="ratio"
            id="star3"
            name="rating"
          />
          <label class="exercises-modal-rating-label" for="star3" data-rate="3">
            <svg
              class="exercises-rating-star"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M13.826 3.262c.684-2.106 3.663-2.106 4.348 0l1.932 5.945a2.285 2.285 0 0 0 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674a2.286 2.286 0 0 0-.83 2.556l1.931 5.945c.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674a2.286 2.286 0 0 0-2.687 0l-5.057 3.674c-1.791 1.302-4.202-.45-3.517-2.555l1.932-5.945a2.287 2.287 0 0 0-.83-2.556l-5.057-3.674c-1.791-1.302-.871-4.135 1.344-4.135h6.251c.99 0 1.868-.638 2.174-1.579l1.932-5.945z"
                fill="#F4F4F4"
                fill-opacity="0.2"
              />
            </svg>
          </label>
          <input
            class="exercises-modal-rating-input"
            type="ratio"
            id="star4"
            name="rating"
          />
          <label class="exercises-modal-rating-label" for="star4" data-rate="4">
            <svg
              class="exercises-rating-star"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M13.826 3.262c.684-2.106 3.663-2.106 4.348 0l1.932 5.945a2.285 2.285 0 0 0 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674a2.286 2.286 0 0 0-.83 2.556l1.931 5.945c.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674a2.286 2.286 0 0 0-2.687 0l-5.057 3.674c-1.791 1.302-4.202-.45-3.517-2.555l1.932-5.945a2.287 2.287 0 0 0-.83-2.556l-5.057-3.674c-1.791-1.302-.871-4.135 1.344-4.135h6.251c.99 0 1.868-.638 2.174-1.579l1.932-5.945z"
                fill="#F4F4F4"
                fill-opacity="0.2"
              />
            </svg>
          </label>
          <input
            class="exercises-modal-rating-input"
            type="ratio"
            id="star5"
            name="rating"
          />
          <label class="exercises-modal-rating-label" for="star5" data-rate="5">
            <svg
              class="exercises-rating-star"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M13.826 3.262c.684-2.106 3.663-2.106 4.348 0l1.932 5.945a2.285 2.285 0 0 0 2.174 1.579h6.251c2.214 0 3.135 2.833 1.344 4.135l-5.057 3.674a2.286 2.286 0 0 0-.83 2.556l1.931 5.945c.684 2.106-1.726 3.857-3.517 2.555l-5.057-3.674a2.286 2.286 0 0 0-2.687 0l-5.057 3.674c-1.791 1.302-4.202-.45-3.517-2.555l1.932-5.945a2.287 2.287 0 0 0-.83-2.556l-5.057-3.674c-1.791-1.302-.871-4.135 1.344-4.135h6.251c.99 0 1.868-.638 2.174-1.579l1.932-5.945z"
                fill="#F4F4F4"
                fill-opacity="0.2"
              />
            </svg>
          </label>
        </fieldset>
      </div>

      <hr class="exercises-modal-line" />

      <ul class="excercises-modal-list">
        <li class="excercises-modal-item">
          <h4 class="excercises-modal-title">Taget</h4>
          <p class="excercises-modal-aftertitle js-target">Abs</p>
        </li>
        <li class="excercises-modal-item">
          <h4 class="excercises-modal-title">Body Part</h4>
          <p class="excercises-modal-aftertitle js-body-part">Waist</p>
        </li>
        <li class="excercises-modal-item">
          <h4 class="excercises-modal-title">Equipment</h4>
          <p class="excercises-modal-aftertitle js-equipment">Body weight</p>
        </li>
        <li class="excercises-modal-item">
          <h4 class="excercises-modal-title">Popular</h4>
          <p class="excercises-modal-aftertitle js-popularity">150</p>
        </li>
        <li class="excercises-modal-item">
          <h4 class="excercises-modal-title">Burned calories</h4>
          <p class="excercises-modal-aftertitle js-burned-calories">323/3 min</p>
        </li>
        <li class="excercises-modal-item">
          <h4 class="excercises-modal-title"></h4>
          <p class="excercises-modal-aftertitle js-burned-calories"></p>
        </li>
      </ul>
      
      <hr class="exercises-modal-line" />

      <p class="exercises-modal-description">
        This refers to your core muscles, which include the rectus abdominis,
        obliques, and transverse abdominis. They're essential for maintaining
        posture, stability, and generating force in many movements. Exercises
        that target the abs include crunches, leg raises, and planks.
      </p>

      <div class="exercises-modal-buttons">
        <button class="exercises-modal-favorite-btn">
          Add to favorites
          <svg
            class="exercises-modal-favorite-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 32 32"
            fill="none"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2.4"
              d="M27.787 6.147a7.345 7.345 0 0 0-5.187-2.15 7.33 7.33 0 0 0-5.187 2.15L16 7.56l-1.413-1.413a7.333 7.333 0 0 0-10.374 0 7.333 7.333 0 0 0 0 10.374L16 28.308l11.787-11.787a7.345 7.345 0 0 0 2.15-5.187 7.33 7.33 0 0 0-2.15-5.187z"
            />
          </svg>
        </button>
        <button class="exercises-modal-rating-btn">Give a rating</button>
      </div>
    </div>
  </div>
</div>
