<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
  <link rel="stylesheet" href="./../css/reset.css">
  <link rel="stylesheet" href="./../css/exercise.css">
  <title>Exercise card</title>
</head>
<body>
  <div class="container">
    <ul class="exercises-list">
      <li class="exercise" data-exercise-id="">
        <button class="main-action-btn" type="button">
          Start
          <svg class="main-action-arrow-icon" width="16" height="16">
            <use href="./../img/exercise/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <div class="top">
          <span class="badge">Workout</span>
          <span class="rating-value">4.0</span>
          <svg class="rating-icon" width="18" height="18">
            <use href="./../img/exercise/sprite.svg#icon-star"></use>
          </svg>
          <button class="move-to-trash-btn" type="button">
            <svg class="move-to-trash-icon" width="18" height="18">
              <use href="./../img/exercise/sprite.svg#icon-trash-bin"></use>
            </svg>
          </button>
        </div>
        <div class="title">
          <svg class="title-icon" width="24" height="24">
            <use href="./../img/exercise/sprite.svg#icon-running-figure"></use>
          </svg>
          <span class="title-text text-clipped">Barbell reverse preacher curl</span>
        </div>
        <div class="details">
          <div class="detail">
            <span class="detail-title">Burned calories:</span>
            <span class="js-burned-calories detail-value text-clipped">153 / 3 min</span>
          </div>
          <div class="detail">
            <span class="detail-title">Body part:</span>
            <span class="js-body-part detail-value text-clipped">Waist</span>
          </div>
          <div class="detail">
            <span class="detail-title">Target:</span>
            <span class="js-target detail-value text-clipped">Biceps</span>
          </div>
        </div>
      </li>
      <li class="exercise" data-exercise-id="">
        <button class="main-action-btn" type="button">
          Start
          <svg class="main-action-arrow-icon" width="16" height="16">
            <use href="./../img/exercise/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <div class="top">
          <span class="badge">Workout</span>
          <span class="rating-value">4.0</span>
          <svg class="rating-icon" width="18" height="18">
            <use href="./../img/exercise/sprite.svg#icon-star"></use>
          </svg>
          <button class="move-to-trash-btn" type="button">
            <svg class="move-to-trash-icon" width="18" height="18">
              <use href="./../img/exercise/sprite.svg#icon-trash-bin"></use>
            </svg>
          </button>
        </div>
        <div class="title">
          <svg class="title-icon" width="24" height="24">
            <use href="./../img/exercise/sprite.svg#icon-running-figure"></use>
          </svg>
          <span class="title-text text-clipped">Barbell reverse preacher curl</span>
        </div>
        <div class="details">
          <div class="detail">
            <span class="detail-title">Burned calories:</span>
            <span class="js-burned-calories detail-value text-clipped">153 / 3 min</span>
          </div>
          <div class="detail">
            <span class="detail-title">Body part:</span>
            <span class="js-body-part detail-value text-clipped">Waist</span>
          </div>
          <div class="detail">
            <span class="detail-title">Target:</span>
            <span class="js-target detail-value text-clipped">Biceps</span>
          </div>
        </div>
      </li>
      <li class="exercise" data-exercise-id="">
        <button class="main-action-btn" type="button">
          Start
          <svg class="main-action-arrow-icon" width="16" height="16">
            <use href="./../img/exercise/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <div class="top">
          <span class="badge">Workout</span>
          <span class="rating-value">4.0</span>
          <svg class="rating-icon" width="18" height="18">
            <use href="./../img/exercise/sprite.svg#icon-star"></use>
          </svg>
          <button class="move-to-trash-btn" type="button">
            <svg class="move-to-trash-icon" width="18" height="18">
              <use href="./../img/exercise/sprite.svg#icon-trash-bin"></use>
            </svg>
          </button>
        </div>
        <div class="title">
          <svg class="title-icon" width="24" height="24">
            <use href="./../img/exercise/sprite.svg#icon-running-figure"></use>
          </svg>
          <span class="title-text text-clipped">Barbell reverse preacher curl</span>
        </div>
        <div class="details">
          <div class="detail">
            <span class="detail-title">Burned calories:</span>
            <span class="js-burned-calories detail-value text-clipped">153 / 3 min</span>
          </div>
          <div class="detail">
            <span class="detail-title">Body part:</span>
            <span class="js-body-part detail-value text-clipped">Waist</span>
          </div>
          <div class="detail">
            <span class="detail-title">Target:</span>
            <span class="js-target detail-value text-clipped">Biceps</span>
          </div>
        </div>
      </li>
      <li class="exercise" data-exercise-id="">
        <button class="main-action-btn" type="button">
          Start
          <svg class="main-action-arrow-icon" width="16" height="16">
            <use href="./../img/exercise/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <div class="top">
          <span class="badge">Workout</span>
          <span class="rating-value">4.0</span>
          <svg class="rating-icon" width="18" height="18">
            <use href="./../img/exercise/sprite.svg#icon-star"></use>
          </svg>
          <button class="move-to-trash-btn" type="button">
            <svg class="move-to-trash-icon" width="18" height="18">
              <use href="./../img/exercise/sprite.svg#icon-trash-bin"></use>
            </svg>
          </button>
        </div>
        <div class="title">
          <svg class="title-icon" width="24" height="24">
            <use href="./../img/exercise/sprite.svg#icon-running-figure"></use>
          </svg>
          <span class="title-text text-clipped">Barbell reverse preacher curl</span>
        </div>
        <div class="details">
          <div class="detail">
            <span class="detail-title">Burned calories:</span>
            <span class="js-burned-calories detail-value text-clipped">153 / 3 min</span>
          </div>
          <div class="detail">
            <span class="detail-title">Body part:</span>
            <span class="js-body-part detail-value text-clipped">Waist</span>
          </div>
          <div class="detail">
            <span class="detail-title">Target:</span>
            <span class="js-target detail-value text-clipped">Biceps</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>