/* BREADCRUMPS */

.breadcrumbs-filter {
  margin-top: 40px;
}

/* @media only screen and (min-width: 768px) {
  .breadcrumbs-filter {
    padding-top: 64px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .breadcrumbs-filter {
    padding-bottom: 132px;
  }
} */

.breadcrumbs-filter .breadcrumbs {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.breadcrumbs-filter .breadcrumbs .title {
  font-size: 28px;
  font-weight: var(--font-weight-normal);
  line-height: 1.36;
  letter-spacing: -0.56px;
}

/* @media only screen and (min-width: 768px) {
  .breadcrumbs-filter .breadcrumbs .title {
    font-size: 44px;
    line-height: 1.09;
  }
} */

.breadcrumbs-filter .breadcrumbs .subtitle {
  font-size: 20px;
  font-weight: var(--font-weight-normal);
  line-height: 1;
  letter-spacing: -0.4px;
  color: var(--color-primary-50);
}

/* FILTER */

.breadcrumbs-filter .filter {
  width: 100%;
}

.breadcrumbs-filter .filter .search-form {
  position: relative;
  margin-top: 40px;
  width: 100%;
  display: flex;
}

.breadcrumbs-filter .filter-search {
  width: 100%;
  display: flex;
  padding: 11px 14px;

  border-radius: var(--radius-medium);
  border: 1px solid var(--color-primary-100);
}

.breadcrumbs-filter .filter-search,
.breadcrumbs-filter .filter-search::placeholder,
.breadcrumbs-filter .filter-search::-webkit-input-placeholder {
  background-color: var(--color-secondary-100);
  color: var(--color-primary-100);
  font-size: var(--font-size-small);
  font-weight:var(--font-weight-normal);
  line-height: 20px;
  letter-spacing: 0;
}

.breadcrumbs-filter .filter-search:focus::placeholder {
  opacity: 0;
}

.breadcrumbs-filter .filter-clear-btn {
  display: none;
  position: absolute;
  top: 50%;
  right: 38px;
  transform: translateY(-50%);
  line-height: 0;
  background-color: transparent;
}

.breadcrumbs-filter .filter-clear-icon {
  width: 18px;
  height: 18px;
}

.breadcrumbs-filter .filter-search:not(:placeholder-shown) + .filter-clear-btn {
  display: inline-flex;
  align-items: center;
}

.breadcrumbs-filter .filter-search-btn {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  background-color: transparent;
}

.breadcrumbs-filter .filter-search-icon {
  fill: none;
  stroke: var(--color-primary-100);
}

/* FILTER BUTTONS */

.breadcrumbs-filter .filter-list {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .breadcrumbs-filter .filter .filter-list {
    font-size: 16px;
    line-height: 1.5;
  }
}

.breadcrumbs-filter .filter .filter-item {
  color: var(--color-primary-60);
  font-size: 14px;
  line-height: 1.43;

  height: 28px;
}

@media only screen and (min-width: 768px) {
  .breadcrumbs-filter .filter .filter-item {
    font-size: 16px;
    line-height: 1.5;
  }
}

.breadcrumbs-filter .filter .filter-item.active {
  color: inherit;

  position: relative;
}

.breadcrumbs-filter .filter .filter-item.active::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 2px;

  display: block;
  bottom: 0px;
  left: 0;

  background-color: var(--color-primary-100);
}