:root {
  /* COLORS */
  --color-primary-white: #fff;
  --color-primary-grey: #F4F4F4;
  --color-primary-transparent: rgba(36, 36, 36, 0.40);
  --color-primary-black: #242424;

  --color-accent-yellow: #eea10c;
  
  /* FONTS */
  --font-family: "DM Sans", sans-serif;
  --font-size-subtitle-normal: 24px;
  --font-size-subtitle-small: 20px;
  --font-size-normal: 16px;
  --font-size-small: 14px;
  --font-size-tiny: 12px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --line-height-subtitle: 1;
  --line-height-normal: 16px;
  --line-height-details: 1.5;
  --letter-spacing-normal: -0.28px;
  --letter-spacing-zero: 0;

  /* BORDERS */
  --border-solid-outline: 1px solid var(--color-primary-black); 
}

body {
  margin: 0;

  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-normal);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color-primary-black);

  background-color: var(--color-primary-grey);
}

/* * All code above are dependencies on other reset / common / root parameters */

.exs-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media only screen and (min-width: 768px) {
  .exs-title-container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .exs-title-container {
    width: 900px;
  }
}

/* * All code above is for exercise cards containing container (list) and will be menaged separately */

.text-clipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.exercise {
  position: relative;

  width: 100%;
  height: 141px;
  padding: 16px;

  font-size: var(--font-size-tiny);

  border-radius: 15px;
  background-color: var(--color-primary-white);
}

@media only screen and (min-width: 768px) {
  .exercise {
    width: calc((100% - 16px) / 2);
    padding: 16px;
  
    font-size: var(--font-size-tiny);
  
    border-radius: 15px;
    background-color: var(--color-primary-white);
  }
}

.exercise .main-action-btn {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 56px;
  height: 18px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 8px;
  padding: 0;

  font-size: var(--font-size-small);
  line-height: 18px;
  letter-spacing: 0;

  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .exercise .main-action-btn {
    width: 61px;
    height: 24px;
  
    font-size: var(--font-size-normal);
    line-height: 24px;
  }
}

.exercise .main-action-arrow-icon {
  width: 16px;
  height: 16px;
  stroke: var(--color-primary-black);
}

.exercise .top {
  display: flex;
  align-items: center;

}

.top {
  width: fit-content;
}

.exercise .badge {
  width: 76px;
  height: 26px;
  
  display: inline-flex;
  padding: 5px 8px;

  font-weight: var(--font-weight-medium);
  line-height: normal;
  letter-spacing: 0;
  text-transform: uppercase;

  border-radius: 15px;
  border: var(--border-solid-outline);
}

.exercise .rating {
  margin-left: 16px;

  display: inline-flex;
  align-items: center;
}

.exercise .rating-value {
  line-height: var(--line-height-details);
}

.exercise .rating-icon {
  padding: 2.5px 2px;
  margin-left: 2px;
  fill: var(--color-accent-yellow);
}

.exercise .move-to-trash-btn {
  margin-left: 4px;
  padding: 5px;

  line-height: 0;

  background-color: transparent;
  border: none;
}

.exercise .move-to-trash-icon {
  width: 16px;
  height: 16px;

  fill: none;
  stroke: var(--color-primary-black);
}

.exercise .title {
  margin-top: 25px;
  width: fit-content;
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 16px;
}

@media only screen and (min-width: 768px) {
  .exercise .title {
    margin-top: 25px;
  }
}

.exercise .title-icon {
  box-sizing: content-box;
  position: absolute;
  top: -2px;
  width: 14px;
  height: 16px;
  padding: 4px 5px;
  border-radius: 50%;
  fill: var(--color-primary-white);
  background-color: var(--color-primary-black);
}

@media only screen and (min-width: 768px) {
  .exercise .title-icon {
    top: 4px;
  }
}

.exercise .title-text {
  margin-left: 40px;
  max-width: 250px;
  padding-top: 2px;
  padding-bottom: 2px;

  font-size: var(--font-size-subtitle-small);
  line-height: 1;
  letter-spacing: 0;
}

@media only screen and (min-width: 768px) {
  .exercise .title-text {
    width: calc(100% - 40px);
    font-size: var(--font-size-subtitle-normal);
    line-height: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .exercise .title-text {
    max-width: unset;
    width: unset;
  }
}

.exercise .details {
  margin-top: 16px;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  column-gap: 10px;

  line-height: var(--line-height-details);
  letter-spacing: var(--letter-spacing-zero);
}

@media only screen and (min-width: 768px) {
  .exercise .details {
    margin-top: 8px;
  }
}

@media only screen and (min-width: 1440px) {
  .exercise .details {
    column-gap: 16px;
  }
}

.exercise .detail:nth-child(1) {
  max-width: 131px;
}

@media only screen and (min-width: 768px) {
  .exercise .detail:nth-child(1) {
    max-width: 133px;
  }
}

@media only screen and (min-width: 1440px) {
  .exercise .detail:nth-child(1) {
    max-width: unset;
  }
}

.exercise .detail:nth-child(2) {
  max-width: 91px;
}

@media only screen and (min-width: 768px) {
  .exercise .detail:nth-child(2) {
    max-width: 93px;
  }
}

@media only screen and (min-width: 1440px) {
  .exercise .detail:nth-child(2) {
    max-width: unset;
  }
}

.exercise .detail:nth-child(3) {
  max-width: 61px;
}

@media only screen and (min-width: 768px) {
  .exercise .detail:nth-child(3) {
    max-width: 66px;
  }
}

@media only screen and (min-width: 1440px) {
  .exercise .detail:nth-child(3) {
    max-width: unset;
  }
}

.exercise .detail {
  display: flex;
  column-gap: 2px;
}

.exercise .detail-title {
  flex-shrink: 0;
  color: var(--color-primary-transparent);
}
