.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(3px);
  background: var(--color-modal-backdrop-40);
}

.excercises-modal-aftertitle {
  text-transform: capitalize;
}

.exercises-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
  overflow: auto;
  max-height: 80vh;
  padding: 40px 20px;
  border-radius: 20px;
  background-color: var(--color-primary-100);
  gap: 32px;
}

.exercises-modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  border: none;
  transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--color-secondary-100);
  background-color: transparent;
}

.exercises-modal-close:hover,
.exercises-modal-close:focus {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-primary-100);
}

.exercises-modal-close-icon {
  stroke: var(--color-secondary-100);
}

.exercises-modal-rating-container {
  display: flex;
  gap: 3px;
}

.exercises-modal-rating {
  margin: 0;
  padding: 0;
  font-style: 12px;
  line-height: 1.5;
  color: var(--color-secondary-100);
  border: 0;
}

.exercises-modal-rating-value {
  font-size: 12px;
  line-height: 1.5;
  color: #f4f4f4;
  padding-top: 1px;
}

/* Приховування кнопок*/

.exercises-modal-rating-input {
  width: 18px;
  height: 18px;
  position: absolute;
  opacity: 0;
}

.exercises-modal-rating-label {
  cursor: pointer;
  position: relative;
}

.exercises-modal-rating-label.rating-star {
  position: relative;
}

.exercises-modal-rating-label.rating-star + input[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.exercises-modal-rating-input:checked
  + .exercises-modal-rating-label
  .rating-star
  path {
  fill: var(--color-yellow);
}

.exercises-modal-image {
  width: 295px;
  height: 258px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
}

.exercises-modal-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: none;
  color: var(--color-secondary-100);
}

.excercises-modal-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 8px;
}

.excercises-modal-title {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(244, 244, 244, 0.4);
}

.excercises-modal-aftertitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  color: #f4f4f4;
}

.exercises-modal-description {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.28;
  color: rgba(244, 244, 244, 0.6);
}

.exercises-modal-buttons {
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  gap: 7px;
}

.exercises-modal-buttons > button {
  padding: 12px 24px;
  font-size: 16px;
  line-height: 1.5;
}

.exercises-modal-image {
  height: 258px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.exercises-modal-line {
  width: 100%;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 8px;
  border: 1px solid rgba(244, 244, 244, 0.2);
}

.exercises-modal-line-second {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  border: 1px solid rgba(244, 244, 244, 0.2);
}

.exercises-modal-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
}

.exercises-modal-favorite-btn {
  border-radius: 30px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid #242424;
  background-color: #f4f4f4;
  color: #242424;
  transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exercises-modal-rating-btn {
  border-radius: 30px;
  width: 100%;
  border: 1px solid var(--color-secondary-100);
  color: var(--color-secondary-100);
  background-color: transparent;
  white-space: nowrap;
  transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exercises-modal-favorite-icon {
  stroke: #242424;
  transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--color-secondary-100);
}

.exercises-modal-favorite-btn:hover,
.exercises-modal-favorite-btn:focus {
  border: 1px solid var(--color-secondary-100);
  background-color: var(--color-primary-100);
  color: var(--color-secondary-100);
}

.exercises-modal-favorite-btn:hover .exercises-modal-favorite-icon {
  fill: var(--color-primary-100);
  stroke: var(--color-secondary-100);
}

.exercises-modal-rating-btn:hover {
  background-color: var(--color-secondary-100);
  color: var(--color-primary-100);
}

@media screen and (min-width: 768px) {
  .exercises-container {
    display: flex;
    gap: 32px;
  }

  .exercises-modal-buttons {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 7px;
    justify-content: right;
  }

  .exercises-modal-rating-btn {
    width: auto;
  }
  .exercises-modal-favorite-btn {
    width: auto;
  }
}

@media screen and (min-width: 376px) {
  .exercises-modal {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .exercises-modal {
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    width: 704px;
  }
  .exercises-modal-right {
    width: 338px;
  }
  .exercises-modal-left {
    width: 270px;
  }
}

@media screen and (min-width: 1440px) {
  .exercises-modal-right {
    width: 342px;
  }
}
.excercises-modal-aftertitle.js-burned-calories {
  text-transform: lowercase;
}
